@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Inter Tight";
    background-color: #fffcf9;
    color: #414141;
    margin: 0;
}

body h1 {
    font-family: "Bitcount Prop Double Ink";
    color: #ef476f;
    font-size: 4em;
}

footer {
    background-color: #fffcf9;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 5px;
}

footer p, footer a {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

header {
    background-color: #fffcf9;
    color: #414141;
    grid-template-columns: 150px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header a {
    color: #26547c;
    text-decoration: none;
    margin-left: 30px;
    padding: 5px 10px;
    font: 1.2em;
    text-justify: center;
}

.links {
    display: flex; 
    gap: 20px; 
}

header p {
    font-size: 1.2em;
}

main {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
}

.logo {
    border-radius: 10px;
    max-height: 75px;
    content: center;
    margin-bottom: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.body_image {
    height: 400px;
    margin: -2px;
}

.terms {
    color: #06d6a0;
}

.privacy {
    color: #ffd166;
}

.copyright {
    color: #ef476f;
}